/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* header section start */
.header-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-title{
    font-weight: 700;
    font-size: 24px;
    color: #3A3A3A;
}
.header-nav ul{
    display: flex;
    flex-direction: row;
    gap: 34px;
    font-weight: 600;
    font-size: 16px;
}
.header-nav ul li{
    list-style-type: none;
}
.header-nav ul li a{
    text-decoration: none;
    color: #3A3A3A;
}
.fa-magnifying-glass{
    color: black;
}

/* header banner part section */
.banner-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.banner-titel{
    font-weight: 700;
    font-size: 52px;
    color: #3A3A3A;
    margin-bottom: 20px;
}
.banner-text{
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
}
.btn-primary{
    font-weight: 700;
    font-size: 16px;
    padding: 10px 24px;
    color: #FFFFFF;
    background: #E02C6D;
    border: none;
    border-radius: 41px;
}
.fa-arrow-right{
    margin-left: 10px;
    color: #FFFFFF;
}
.banner-right-section{
    background-image: url(../image/images/Circle\ design.svg);
    width: 530px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-right-section >img{
    position: relative;
    width: 100%;
    align-items: center;
    top: 26px;
}


/* header banner part section */
/* header section end */
/* main section start */
    /* company section start */
.company{
        margin-bottom: 100px;
}   
.hr-line{
        margin: 30px auto;
        border-width: 0;
        height: 1px;
        background-image:  linear-gradient(to right, rgba(0,0,0,0), rgb(192, 204, 218), rgba(0,0,0,0));
}
.company-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
        min-height: 100px;
}
    
    /* company section end */
    /* popular section start */

.popular{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}
.popular-titel{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.popular-section-area{
    margin-bottom: 100px;
}
.popular-detail{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
    border-radius: 5px;
    padding: 19px;
    margin-bottom: 30px;
}
.popular-banner img{
    width: 100%;
}
.popular-info{
    padding: 5px;
}
.popular-info-titel{
    font-weight: 500;
    font-size: 28px;
    color: #18191F;
    margin-bottom: 8px;
}
.popular-info-price{
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 6px;
    margin-bottom: 8px;
}

.fa-star, .filled{
    color: #FB8200;
    font-size: 10px;
}
.star-rating{
    font-weight: 700;
    font-size: 14px;
    color: #5E6366;
}
.popular-info-text{
    font-weight: 700;
    font-size: 14px;
    color: #787885;
}
.icon{
    color: #E02C6D;
    font-size: 16px;
}
.seemore-ancor{
    text-decoration: none;
    color: #E02C6D;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 24px;
  }
  .seemore-ancor i{
    margin-left: 10px;
    font-size: 20px;
  }

    /* popular section end */
    /* featured section start */
.featured-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 80px;
        padding: 30px;
        margin-bottom: 80px;
}
.featured-banner >img{
        width: 100%;
}
.featured-titel{
        font-weight: 700;
        font-size: 35px;
        color: #0A0826;
}
.featured-text{
        font-weight: 700;
        font-size: 16px;
        color: #6C6C6C;
}
.btn-secoandry{
        font-weight: 700;
        font-size: 16px;
        padding: 10px 24px;
        color: #FFFFFF;
        background: #E02C6D;
        border: none;
}

    /* featured section end */
/* main section end */

/* footer section start */
#footer{
    background-color: #0A0826;
}
.footer-detail{
    text-align: center;
}
.footer-info{
    padding: 50px;
}
.footer-titel{
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    margin: 0 0 3px 0;
}
.footer-copyright{
    font-weight: 700;
    font-size: 14px;
    color: #D9DBE1;
    margin: 0 0 3px 0;
}
.footer-text{
    font-weight: 700;
    font-size: 14px;
    color: #D9DBE1;
    margin: 0 0 10px 0px;
}
.fa-brands{
    color: #FFFFFF;
    padding: 10px;
}
/* footer section end */

/* mobile responsive design */
/* mobile responsive 992px  */
@media screen and (max-width: 992px) {
    .container{
        width: 100%;
    }
    .header-section{
        padding: 0px 20px 0px 20px;
    }
    .header-nav ul{
        gap: 30px;
    }
    .banner-section{
        padding: 20px;
    }
    .banner-left-section{
        width: 50%;
    }
    .banner-right-section{
        width: 50%;
    }
    .popular{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* mobile responsive 768px  */
@media screen and (max-width: 768px) {
    .container{
        width: 100%;
    }
    .banner-detail{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .banner-left-section{
        text-align: center;
    }
    .banner-titel{
        font-size: 35px;
    }
    .banner-text{
        font-size: 15px;
    }
    .banner-right-section{
        width: 530px;
        height: 500px;
        margin-bottom: 30px;
    }
    .banner-right-section >img{
        width: 80%;
        margin-left: 30px;
    }
    .popular{
        grid-template-columns: repeat(2, 1fr);
    }
    .featured-section{
        grid-template-columns: repeat(1, 1fr);
    }
}
/* mobile responsive 576px  */
@media screen and (max-width: 576px) { 
    
    .container{
        width: 100%;
    }
    .header-detail{
        flex-direction: column;
    }
    .banner-detail{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .banner-left-section{
        text-align: center;
    }
    .banner-titel{
        font-size: 20px;
    }
    .banner-text{
        font-size: 13px;
    }
    .banner-right-section >img{
        width: 80%;
        margin-left: 50px;
    }
    .popular{
        grid-template-columns: repeat(1, 1fr);
    }
}



























